:root {
    --grass : rgb(110, 228, 116);
    --fire : rgb(255, 196, 183);
    --water : rgb(179, 255, 246);
    --bug : rgb(247, 177, 98);
    --normal : rgb(241, 233, 160);
    --electric : rgb(148, 140, 253);
    --poison : rgb(255, 70, 70);
    --fairy : rgb(255, 124, 235);
    --ground : rgb(132, 75, 75);
    --fighting : rgb(171, 154, 0);
    --psychic : rgb(76, 77, 111);
    --rock : rgb(75, 139, 106);
    --ghost : rgb(206, 205, 196);
}


@media screen and (max-width: 1050px) {
    body{
        padding: 80px 10px !important;
    }

    .cards {
        justify-content: space-between !important;
    }

    .card {
        max-width: 160px !important;
    }

    input {
        width: 85% !important;
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    padding: 40px 180px;
    box-sizing: border-box;
    background-color: rgb(255, 228, 226);
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
}

h4 {
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: rgb(198, 96, 96);
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.card {
    max-width: 221px;
    padding: 30px 58px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.107);
    border-radius: 15px;
    transition: 0.5s all;
}

.card:hover {
    cursor: pointer;
}

.card img {
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    padding: 25px;
    margin-bottom: 40px;   
}

.pokemon-name {
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 8px;
    font-family: 'Roboto Slab', serif;
}

.pokemon-type {
    background-color: white;
    width: 60px;
    height: 25px;
    box-sizing: border-box;
    line-height: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.107);
}

input {
    width: 65%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.107);
}

input:focus {
    outline: none;
}

.pages {
     margin: 0 auto;
     margin-top: 50px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 40px;
}

.page {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(198, 68, 74);
    line-height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 235, 235);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.107);
}

.page:hover {
    cursor: pointer;
}